<div class="price-info">
    <div class="price-info__discount-container">
        <p class="price-info__discount-caption">СКИДКА</p>
        <p class="price-info__discount-precentage">40%</p>
        <p class="price-info__discount-description">первым 20</p>
    </div>
    <div class="price-info__block">
        <p class="price-info__old-price-description">Полная стоимость курса</p>
        <p class="price-info__old-price">50 000 ₽</p>
    </div>
    <div class="price-info__block">
        <p class="price-info__installment-plan-price">2 900₽</p>
        <p class="price-info__installment-plan-price-description">Рассрочка без первого взноса</p>
    </div>
    <div class="price-info__block">
        <p class="price-info__for-firsts-price">29 000 ₽</p>
        <p class="price-info__for-firsts-price-description">Для первых 20-ти</p>
    </div>
</div>